# Fuso horário utiliza no projeto
TZ = ''
NODE_ENV='' # Ambiente do projeto
DB_HOST='' # Local do banco de dados
DB_BASE='' # Base de dados
DB_USER = '' # Usuário do banco de dados
DB_PASS='' # Senha do banco de dados
DB_DIALECT= # Tipo do banco de dados
PORT= # Porta do servidor
EMAIL_PASS= "" # Senha do email
RELATORIO_SEMANAL_TO=""
RELATORIO_SEMANAL_BCC=""