.footer-index {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  background-color: white;
  text-align: center;
  width: 100%;
  z-index: 6;
  font-size: 0.8em;
  bottom: 0;
}

.oie {
  margin-bottom: 0rem;
  background: #e1dcdc;
}

@media screen and (max-width: 660px) {
  .oie{
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 500px) {
  .oie{
    font-size: 0.6rem;
  }
}