@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Inter', sans-serif;
}

.screen-school-data {
  margin: 5rem 16rem 3rem 0rem;
}

#form-school-data {
  padding: 2rem 2rem 4rem 2rem;
  margin: 4rem 0rem 2rem 14rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.199);
  border-radius: 0.5rem;
}

.form-school-data label {
  margin: 1rem 0rem 0rem -0.5rem;
  padding-left: 0.8rem;
  color: white;

}

.form-school-data select {
  width: 30rem;
  border-radius: 0.8rem;
  padding: 5rem 0.5rem 0.5rem 0.5rem;
  border: 1.5px solid rgb(122, 123, 131);
  border-radius: 0.5rem;
}

.form-school-data .dropdown-toggle {
  z-index: 0;
}

.show {
  z-index: 1;
}

.escolas-cursos,
.ano-semestre-formatura,
.div-ano-formatura,
.mes-formatura-periodo {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.div-buttons {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 1rem;
}

.div-buttons button {
  background-color: #007bff;
  /* margin-right: 14rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  box-shadow: 0.413rem 0.413rem 0.6rem rgba(0, 0, 0, 0.336);
  border: solid #0075f3;
  font-size: 1rem;

  padding: 0.5rem 4rem 0.5rem 4rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 10rem;
}

.button-back-school {
  margin: 0rem 0rem 2rem 0rem;
}

.line-div {
  width: 3.5rem;
  height: 1px;
  background-color: rgb(184, 184, 184);
}

.ou {
  color: rgb(255, 255, 255);
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.line-div {
  background-color: rgb(184, 184, 184);
  width: 3.5rem;
  height: 1px;
  right: 1px;
}

.linha-ou-school {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-finish-school {
  background-color: #007bff;
  margin: 2rem 0rem 2rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  box-shadow: 0.413rem 0.413rem 0.6rem rgba(0, 0, 0, 0.336);
  border: solid #0075f3;
  font-size: 1rem;
  padding: 0.5rem 4rem 0.5rem 4rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 5rem;
}

.escola-search,
.curso-search,
.ano-formatura-search,
.semestre-formatura-search,
.mes-formatura-search,
.periodo-search,
.horario-estudo-search {
  width: 100%;
  margin: 1rem;
}

.horario-estudo-search {
  margin: 1rem 0rem 1rem 1rem;
  width: 48%;
}

.escola-search select,
.curso-search select,
.ano-formatura-search select,
.semestre-formatura-search select,
.mes-formatura-search select,
.periodo-search select,
.horario-estudo-search select {
  width: 2rem;
}

#div-horario-estudo {
  margin-bottom: 3rem;
}

.escola-search button,
.curso-search button,
.ano-formatura-search button,
.semestre-formatura-search button,
.mes-formatura-search button,
.periodo-search button,
.horario-estudo-search button {
  background-color: white !important;
  padding: 0.9375rem 1, 5625rem;
  color: rgb(0, 0, 0) !important;
  font-size: 0.9em;
  width: 2rem;
  padding: .5rem 0.5rem 0.4rem 0.5rem;
}

.escola-search .dropdown-menu,
.curso-search .dropdown-menu,
.ano-formatura-search .dropdown-menu,
.semestre-formatura-search .dropdown-menu,
.mes-formatura-search .dropdown-menu,
.periodo-search .dropdown-menu,
.horario-estudo-search .dropdown-menu {
  max-width: 16rem;
  font-size: 0.9em;
  color: rgb(0, 0, 0);
}

#msg-fracasso-school {
  margin: 1rem 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#msg-fracasso-school p {
  color: rgb(255, 0, 0);
  cursor: pointer;
  font-weight: bold;
  margin: 0rem;
  margin-top: 0rem;
  padding: 0rem 0rem 0rem 0.5rem;
  border-radius: 0.5rem;
}

.end {
  position: fixed;
  top: 0;
  z-index: 4;
  height: 100%;
  width: 100%;
  display: none;
  border-radius: 0.8rem;
  backdrop-filter: blur(10px);
  width: 100%;
}

.alert h1 {
  font-size: 1.9em;
  font-weight: 700;
  margin: 1rem auto;
}

.alert p {
  margin: 1rem auto;
  font-size: 1.3em;
}

.alert {
  background-color: white;
  width: 90%;
  margin: 10rem auto;
  padding: 1rem;
  outline: 2px solid gray;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.school-found {
  position: fixed;
  top: 0;
  z-index: 5;
  height: 100%;
  width: 100%;
  display: none;
  backdrop-filter: blur(10px);
}

.alert-school h1 {
  font-size: 1.2em;
  font-weight: 700;
  margin: 1rem auto 0rem auto;
}

.alert-school p {
  margin: 1rem auto;
  font-size: 0.9em;
  display: flex;
}

.alert-school button {
  background-color: white;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 700;
  padding: 0.5rem 1rem;
}

.alert-school {
  margin: 3rem auto;
  margin-top: 10rem;
  background-color: white;
  outline: 2px solid gray;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 0.8rem;

}

.button-end-school {
  background-color: #007bff;
  margin: 0rem 0rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  box-shadow: 0.413rem 0.413rem 0.6rem rgba(0, 0, 0, 0.336);
  border: solid #0075f3;
  font-size: 1rem;
  padding: 0.5rem 4rem 0.5rem 4rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 10rem;
  text-decoration:none;
  
}
.button-end-school:hover {
  text-decoration:none;
  color: #ffffff;
}

@media screen and (max-width: 1200px) {

  .escolas-cursos,
  .ano-semestre-formatura,
  .div-ano-formatura,
  .mes-formatura-periodo {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: -1rem;
  }

  .escola-search,
  .curso-search,
  .ano-formatura-search,
  .semestre-formatura-search,
  .mes-formatura-search,
  .periodo-search,
  .horario-estudo-search {
    width: 100%;

  }

  .horario-estudo-search {
    margin: 1rem 0rem 0rem 0rem;
    width: 100%;
  }
}

@media screen and (max-width:920px) {
  .screen-school-data {
    margin: 7rem 16rem 3rem 0rem;
  }

  #form-school-data {
    padding: 2rem 2rem 0rem 2rem;
    margin: 4rem 0rem 2rem 10rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.199);
    border-radius: 0.5rem;
  }
}

@media screen and (max-width: 700px) {
  .screen-school-data {
    margin: 6rem 6rem 3rem 0rem;
  }

  #form-school-data {
    padding: 2rem 2rem 0rem 2rem;
    margin: 3rem 0rem 2rem 5rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.199);
    border-radius: 0.5rem;
  }

  @media screen and (max-width: 340px) {
    .screen-school-data {
      margin: 6rem 5rem 3rem 0rem;
    }

    #form-school-data {
      padding: 2rem 0.5rem 0rem 0.5rem;
      margin: 3rem 0rem 2rem 4.5rem;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.199);
      border-radius: 0.5rem;
    }

    .label-periodo {
      font-size: 0.9rem;
    }
  }
}