.form-socio-economic{
    background-color: rgb(13, 13, 13);
    margin: 5rem 2rem 5rem 14rem;
    margin: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.199);
    max-width: 100%;
    padding: 1.5rem 2rem 3rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 0.413rem 0.413rem 0.6rem rgba(0, 0, 0, 0.336);
    gap: 1rem;
    color: white;
}

.form-group{
   margin-bottom: 5rem;
}

.label-title{
    font-size: 1.1rem;
}

.button-end-socio,.button-confirm-socio {
    background-color: #007bff;
    margin: 0rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    box-shadow: 0.413rem 0.413rem 0.6rem rgba(0, 0, 0, 0.336);
    border: solid #0075f3;
    font-size: 1rem;
    padding: 0.5rem 4rem 0.5rem 4rem;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 10rem;
    text-decoration:none;
    
  }
  .button-end-socio:hover,
  .button-confirm-socio:hover {
    text-decoration:none;
    color: #ffffff;
    background-color: #005fc4;
    order: solid #0063cc;
  }
  .button-end-socio:focus,
  .button-confirm-socio:focus {
    outline: none;
  }

@media (max-width: 920px) {
    .form-socio-economic{
        
        margin: 5rem 2rem 5rem 5rem;
        margin: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 100%;
        padding: 1.5rem 2rem 3rem 2rem;
    }
}
