@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Inter', sans-serif;
}

.show-menu-side {
  background: transparent;
  color: white;
}

.sub-main-title {
  z-index: 2;
}

.title {
  background-color: #004892;
  color: white;
  height: 3.1rem;
  display: flex;
  align-items: center;
}

.title h1 {
  margin-left: 0.9rem;
  font-size: 1.2rem;
}

.fixed {
  position: fixed;
  bottom: 0;
  z-index: 3;
}

.nav-bar {
  top: 0;
  width: 12rem;
  height: 100vh;
  background-color: white;
  outline: 0.1rem solid rgb(204, 204, 204);
  padding-top: 1rem;
}

.position {
  position: relative;
  top: 0;
}

.position:nth-child(3) {
  position: absolute;
}

.container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container img {
  width: 11.5rem;
  margin-right: 1rem;
}

.container-mobile {
  display: none;
}

.main {
  margin-top: 0rem;
}

.main-side {
  display: block;
}

.big-basic-data,
.big-terms-conditions,
.big-address,
.big-school-data,
.big-socio-economic {
  background-color: white;
  border-radius: 10px;
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
  cursor: pointer;
  outline: none;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: left;
}

.big-basic-data img,
.big-terms-conditions img,
.big-address img,
.big-school-data img,
.big-socio-economic img {
  margin-right: 1rem;
}

.big-address {
  padding-right: 2rem;
}

.big-basic-data:hover,
.big-terms-conditions:hover,
.big-address:hover,
.big-school-data:hover,
.big-socio-economic:hover {
  background-color: rgba(88, 84, 84, 0.3);
}

.big-basic-data:focus,
.big-terms-conditions:focus,
.big-address:focus,
.big-school-data:focus,
.big-socio-economic:focus {
  outline: none;
}

.screen-main .sub-main-title {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 2.7rem;
  background-color: white;
  outline: 0.1rem solid rgb(204, 204, 204);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.screen-main h1 {
  margin-left: 13rem;
  color: black;
}

.h1-sub-title {
  font-size: 1.850rem;
}

.main-side-mobile {
  display: none;

}

.button-menu-mobile {
  display: none;
}

.screen-basic-data1 {
  display: none;
}

.screen-address {
  display: none;
}

.screen-school-data {
  display: none;
}

@media screen and (max-width: 920px) {

  .nav-bar {
    display: block;
    position: absolute;
    width: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .title {
    background-color: #004892;
    color: white;
    height: 3.1rem;
    display: flex;
    align-items: center;
  }

  .title h1 {
    margin-left: 0.9rem;
    font-size: 1.2rem;
  }

  .div-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .screen-main {
    margin-top: 2.5rem;
  }

  .screen-main h1 {
    margin-left: 4.7rem;
    color: black;

  }

  .screen-main .sub-main-title {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }

  .h1-sub-title {
    margin: auto 0rem;
    font-size: 1rem;
  }

  .main-side {
    display: none;
  }

  .top-menu {
    top: 0;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(1, 72, 146, 255) 35%, rgba(201, 46, 109, 255) 100%);
    width: 100%;
    height: 2.5rem;
    outline: solid 1px rgb(84, 84, 84, 0.3);
  }

  .button-menu-mobile {
    position: absolute;
    margin-left: 4.5rem;
    display: flex;
    align-items: center;
  }

  .button-menu-mobile button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .close-menu-side {
    display: none;
  }

  .fixed {
    top: 0;
  }

  .container {
    margin: -0.7rem 0.3rem 0rem 0.3rem;
  }

  .container img {
    margin-left: 0.5rem;
    width: 3rem;
    padding-left: 0.2rem;
    margin-bottom: 0rem;
  }

  .main-side-mobile {
    display: block;
  }

  .main-side-mobile button {
    padding-bottom: 1rem;
    background-color: white;
    cursor: pointer;
    border: none;
    margin-bottom: 2rem;
  }

  .main-side-mobile img {
    padding: 1rem;
  }

  .main-side-mobile button:focus {
    outline: none;
  }

  .button-basic-data:hover,
  .button-terms-conditions:hover,
  .button-address:hover,
  .button-school-data:hover,
  .button-socio-economic:hover {
    background-color: rgba(88, 84, 84, 0.3);
  }
}

@media screen and (max-width: 300px) {
  .h1-sub-title {
    font-size: 1rem;
  }
}

@media screen and (max-height:700px) {

  .big-basic-data,
  .big-terms-conditions,
  .big-address,
  .big-school-data,
  .big-socio-economic {
    padding: 1rem 0.5rem;
    margin-top: 0rem;
  }

  .main-side-mobile {
    padding: 0rem;
  }

  .main-side-mobile button {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  .container {
    margin: -1.2rem 0.5rem 0.25rem 1rem;
  }
}

@media screen and (max-height:570px) {
  .main-side-mobile button {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-height:600px) {
  .container {
    margin: -1.2rem 0.5rem 0.25rem 1rem;
  }

  .main-side-mobile {
    margin-top: -2rem;
  }

  .nav-bar {
    overflow: auto;
  }
}


@media screen and (max-height:400px) {
  .nav-bar {
    overflow: auto;
  }
}

@media screen and (max-height:360px) {
  .nav-bar {
    overflow: auto;
  }
}